
.custom-tree-node {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 8px;
}

.content-box {
    .c-right {
        position: relative;
        left: 30px;
    }

    .save-box {
        margin-top: .2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


.label::after{
    color: aqua;
}

/deep/ .el-table .cell {
    text-align: center;
}

.butext{
    position: absolute;
    right: 1.6rem;
    font-size: .16rem;
}
.logo{
    width: 1rem;
    position: relative;
    right: 0;
    bottom: 4rem;
    cursor: pointer;
    float: right;
}

:deep .el-table--fit{
    height: 3rem;
    overflow: auto;
}


.logoBox {
    position: absolute;
    right: 1.2rem;
    top: 6.4rem;
    width: 4.2rem;
    background: #d7edfb;
    border-radius: 12px;
    border: 1px solid #eee;
    padding: .12rem;
    font-size: .16rem;
    letter-spacing: 2px;
    z-index: 999;
    text-indent: 2em;
  }
  .logoAngle {
    position: absolute;
    top: 10%;
    right: -3%;
    border-top: 10px solid #d7edfb;
    border-left: 10px solid #d7edfb;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }



  ul,
li {
	list-style: none;
}

::v-deep .el-tree {
	.activetext {
		color: #169FE6;
		font-weight: 600;
	}

	// 不可全选样式
	.el-tree-node {
		.is-leaf+.el-checkbox .el-checkbox__inner {
			display: inline-block;
		}

		.el-checkbox .el-checkbox__inner {
			display: none;
		}
	}
}

/deep/ .el-select-dropdown__item.selected {
	color: #000 !important;
	font-weight: 500 !important;
}

/deep/ .el-dialog__header {
  background: #d7edfb !important;
  margin-right: 0 !important;
}

.previewDialog.el-dialog {
	.el-dialog__body{
		padding: 0 ;
	}
  .el-dialog__header {
    display: none ;
  }
  .dj-dialog-content {
    padding: 0;
    overflow: unset;
  }
}
